*{
  border: 0px;
}
.navbar {
    margin-bottom: 40px;
    border-radius: 0;
  }
  #search01{
    margin-top: 14px;
    width: 400px;
  }
  .glyphicon glyphicon-search{
    color: rgba(255, 255, 255, 0.863);
  }
  .collapse{
    font-size: 15px;
  }
  #h01{
    font-family: 'Rowdies', cursive;
    font-size: 70px;
     color: black;
  }
  #p01{
    font-family: 'Share Tech Mono', monospace;
  }
  .glyphicon-user{
    color:black;
  }
 
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    padding-top: 55px;
    padding-bottom: 1px;
   
    margin-bottom: 0;
    height: 200px;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

