.panel-footer{
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.fa-rupee-sign{
   
    font-size: 20px;
    margin-left: 15px;
    line-height: 35px;
    
}
.btn-danger{
    margin-left: 105px;
}