<br><br><br>
      
 <div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel">
        <div class="panel-heading"></div>
        <div class="panel-body"><img src="assets/images/saree201.png" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
        <div class="panel-footer">Woven Daily Wear Cotton Silk Saree<br>
          <p class="fas fa-rupee-sign ">1,099</p><i style="color: green;margin-left:15px;">60%off</i><br>
          <button class="btn btn-danger">more details</button> </div>
      </div>
    </div>
    <div class="col-sm-4"> 

      <div class="panel panel">
        <div class="panel-heading"></div>
        <div class="panel-body"><img src="assets/images/kurta201.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
        <div class="panel-footer">Top and Skirt Set Rayon<br>
          <p class="fas fa-rupee-sign ">2,000</p><i style="color: green;margin-left:25px;">60%off</i><br>
          <button class="btn btn-danger">more details</button> 
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel">
        <div class="panel-heading"></div>
        <div class="panel-body"><img src="assets/images/kurta200.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
        <div class="panel-footer">Women Kurta and Skirt Set Rayon <br>
          <p class="fas fa-rupee-sign ">2,999</p><i style="color: green;margin-left:15px;">70%off</i><br>
          <button class="btn btn-danger">more details</button>
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel">
        <div class="panel-heading"></div>
        <div class="panel-body"><img src="assets/images/shirt001.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
        <div class="panel-footer">Men Solid Formal Shirt <br>
          <p class="fas fa-rupee-sign ">1,199</p><i style="color: green;margin-left:15px;">50%off</i><br>
          <button class="btn btn-danger">more details</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel">
        <div class="panel-heading"></div>
        <div class="panel-body"><img src="assets/images/tshirt200.jpeg" class="img-responsive"style="width:480px;height: 350px;" alt="Image"></div>
        <div class="panel-footer"> Men Round Neck White, Black, Yellow T-Shirt <br>
          <p class="fas fa-rupee-sign ">679</p><i style="color: green;margin-left:15px;">62%off</i><br>
          <button class="btn btn-danger">more details</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel">
        <div class="panel-heading"></div>
        <div class="panel-body"><img src="assets/images/shirt002.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
        <div class="panel-footer">Men Printed Casual Tie up Shirt <br>
          <p class="fas fa-rupee-sign ">999</p><i style="color: green;margin-left:15px;">42%off</i><br>
          <button class="btn btn-danger">more details</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="assets/images/jeans100.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
          <div class="panel-footer">Urbano Fashion Slim Men Black Jeans <br>
            <p class="fas fa-rupee-sign ">1,499</p><i style="color: green;margin-left:15px;">50%off</i><br>
            <button class="btn btn-danger">more details</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="assets/images/jeans101.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
          <div class="panel-footer">Skinny Men Beige Jeans <br>
            <p class="fas fa-rupee-sign ">1,997</p><i style="color: green;margin-left:15px;">50%off</i><br>
            <button class="btn btn-danger">more details</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="assets/images/jeans102.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
          <div class="panel-footer">Metronaut Slim Men Blue Jeans <br>
            <p class="fas fa-rupee-sign ">1,999</p><i style="color: green;margin-left:15px;">50%off</i><br>
            <button class="btn btn-danger">more details</button>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="assets/images/choli100.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
          <div class="panel-footer">Embroidered Semi Stitched Lehenga Choli <br>
            <p class="fas fa-rupee-sign ">1,999</p><i style="color: green;margin-left:15px;">76%off</i><br>
            <button class="btn btn-danger">more details</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="assets/images/dupatta100.jpeg" class="img-responsive"style="width:480px;height: 350px;" alt="Image"></div>
          <div class="panel-footer">Chiffon Embroidered Dark Green Women Dupatta <br>
            <p class="fas fa-rupee-sign ">1,599</p><i style="color: green;margin-left:15px;">56%off</i><br>
            <button class="btn btn-danger">more details</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="assets/images/kurta202.jpeg" class="img-responsive" style="width:480px;height: 350px;" alt="Image"></div>
          <div class="panel-footer">Women Printed Cotton Rayon Blend Frontslit Kurta <br>
            <p class="fas fa-rupee-sign ">2,000</p><i style="color: green;margin-left:15px;">68%off</i><br>
            <button class="btn btn-danger">more details</button>
          </div>
        </div>
      </div>
    </div>
</div><br><br>    
